@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background-color: var(--primary-color);
}

nav {
    background-color: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    gap: 1.5rem;
    position: sticky;
    top: 0;
    width: 100%;
}

nav img {
    width: 6rem;
}

nav a {
    font-size: 1rem;
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
}

#nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    align-items: center;
}

#nav-links .btn-subscribe {
    background-color: var(--tertiary-color);
    padding: 0.5rem 1.625rem;
    border-radius: 20px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--link-color);
}

footer a {
    text-decoration: none;
    color: var(--link-color);
    font-size: .875rem;
    font-weight: 900;
    margin: 0 .875rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer p {
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: 100;
}

footer .links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer #social-media {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

@media screen and (min-width: 481px) {
    nav {
        display: flex;
        flex-direction: row;
        max-width: 96.5%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    nav img {
        width: 10rem;
    }
    footer .links {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 767px) {

    body {
        width: 99dvw;
    }
}

@media screen and (min-width: 1141px) {
    body {
        width: 100dvw;
    }

}