header {
    background-color: #161616;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
    padding: 0 2.5rem;
    padding-top: 13rem;
}

#empresas-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

header .manchete {
    font-size: 2rem;
    text-transform: uppercase;
}

header .manchete > p {
    margin: 0;
}

header .manchete p:nth-child(2) {
    font-weight: 900;
    font-size: 3rem;
}

hr {
    width: 170px;
    height: 5px;
    border: none;
    background-color: red;
    margin: 0;
}

header .assinatura p:first-child{
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
}

.assinatura > * {
    margin: 0;
}

.assinatura p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 700;
}

.assinatura p:nth-child(2) span {
    font-size: 1rem;
    font-weight: 100;
}

header button {
    background-color: violet;
    border: none;
    border-radius: 50px;
    width: 240px;
    height: 70px;
    padding: 1rem 2.5rem;
    color: #fff;
    font-family: "Raleway", sans-serif;;
    font-size: 1rem;
    font-weight: 900;
}

header .info-assinatura {
    margin: 0;
    margin-bottom: 320px;
}

main {
    background-color: #020228;
    color: #fff;
    padding: 1.5rem;
}

#planos p:first-child{
    font-size: 2rem;
    text-align: center;
}

#cards .card {
    background-color: #490cb0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 2.5rem;
    border-radius: 10px;
}

#cards .card .assinatura {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

#cards .card .assinatura p {
    font-size: 1.5rem;
    color: #ff00e5;
}

#cards .card .assinatura p span {
    color: #fff;
}

#cards .card ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

#cards .card ul li{
    padding-left: .875rem;
    margin-bottom: .875rem;
}

#cards .card li::marker {
    content: "+";
    font-size: 2rem;
}

#cards .card button {
    background-color: violet;
    border: none;
    border-radius: 50px;
    width: 190px;
    height: 70px;
    padding: 1rem 2.5rem;
    color: #fff;
    font-family: "Raleway", sans-serif;;
    font-size: .825rem;
    font-weight: 900;
    letter-spacing: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#series h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

#series .producoes {
    max-width: 100%;
}

#series .producoes img {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #020228;
    color: #9e86ff;
}

footer a {
    text-decoration: none;
    color: #9e86ff;
    font-size: .875rem;
    font-weight: 900;    
    margin: 0 .875rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer p {
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: 100;
}

#social-media {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 80px;
}

