:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

body {
    perspective: 300px;
}

header {
    background-color: #161616;
    background: linear-gradient(
        180deg, 
        var(--primary-color), 
        #0f0f10, 
        var(--primary-color));
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
    padding: 0 2.5rem;
    padding-top: 13rem;
    
}

#luz-de-fundo {
    position: absolute;
    background: linear-gradient(
        90deg,
        #fc466B,
        #3f5efb
    );
    border-radius: 50%;
    width: 300px;
    height: 300px;
    top: -200px;
    left: -200px;

    animation: luz-de-fundo 5s infinite alternate;
    filter: blur(100px);
}


#empresas-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

header .manchete {
    font-size: 2rem;
    text-transform: uppercase;
}

header .manchete > p {
    margin: 0;
}

header .manchete p:nth-child(2) {
    font-weight: 900;
    font-size: 3rem;
}

hr {
    width: 70%;
    max-width: 700px;
    height: 5px;
    border: none;
    background: var(--divider-bg-color);
    margin: 0;
}

header .assinatura p:first-child{
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
}

.assinatura > * {
    margin: 0;
}

.assinatura p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 700;
}

.assinatura p:nth-child(2) span {
    font-size: 1rem;
    font-weight: 100;
}

.button {
    padding: 16px 40px;
    background-color: var(--tertiary-color);
    border-radius: 500px;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    border: none;
    cursor: pointer;
}

.button.button--gradient {
    background: var(--btn-bg-color-gradient);
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.button-wiggle {
    animation: wiggle 2.2s linear infinite;
}

header .info-assinatura {
    margin: 0;
    margin-bottom: 320px;
}

main {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1.5rem;
}

#planos p:first-child{
    font-size: 2rem;
    text-align: center;
}

#cards .card {
    background: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    padding: 2.5rem;
    border-radius: 10px;
}

#cards .card .assinatura {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

#cards .card .assinatura p {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

#cards .card .assinatura p span {
    color: var(--text-color);
}

#cards .card ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

#cards .card ul li{
    padding-left: .875rem;
    margin-bottom: .875rem;
}

#cards .card li::marker {
    content: "+";
    font-size: 2rem;
}


#series h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

#series .producoes {
    max-width: 100%;
}

#series .producoes img {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--link-color);
}

footer a {
    text-decoration: none;
    color: var(--link-color);
    font-size: .875rem;
    font-weight: 900;    
    margin: 0 .875rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer p {
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: 100;
}

footer .links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#social-media {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 80px;
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

@keyframes luz-de-fundo {
    0% {
        transform: rotateY(10deg) rotate(-25deg) translateY(100px);
    }
     25% {
        transform: rotateY(-10deg) translateX(100px);
    }
    50%, 100% {
        transform: rotateX(-50deg) translateZ(-100px);
    }
    /*75% {
        transform: rotateX(-50deg) translateZ(-100px);
    }
    100% {
        transform: rotateX(20deg) translateZ(0px);

    } */
    
}

@media screen and (min-width: 767px) {
    header {
        background-color: #fff;
        padding-top: 6rem;


    }

    #cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
    }

    #cards .card {
        width: 520px;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0;
    }

    #cards .card .assinatura {
        width: 480px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    #cards .card .assinatura h3 {
        font-size: 1.5rem;
    }

    #cards .card .assinatura p {
        font-size: 2rem;
    }

    #cards .card ul li {
        font-size: 1.25rem;
    }

    #cards .card button {
        margin-top: 7rem;
    }

    #series {
        margin: 100px 0;
        padding: 24px;
    }

    footer .links {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1141px) {
    #cards {
        display: flex;
        flex-direction: row;
    }

    #cards .card button {
        color: red;
    }
}

